$device-size--XS: 20em; // 320px
$device-size--SE: 23.4375em; // 375px
$device-size--S: 30em; // 480px
$device-size--M: 48em; // 768px
$device-size--L: 62em; // 992px
$device-size--XL: 75em; // 1200px
$device-size--XXL: 90em; // 1440px
